<h4>{{name}}</h4>
<h2>{{desc}}</h2>
<h2>Party: <a href = "/party/{{party}}s">{{party}}</a></h2>
<h2>State: <a href = "/state/{{stateName}}">{{state}}</a></h2>
<h2>Birthday: {{bday}}</h2>
<h2><a href = "{{site}}">Website</a></h2>